input, select, textarea {
  font-size: 100%;
  vertical-align: middle;
  background: none;
  font-weight: 400;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 101;
}
#header > .cover {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  box-sizing: border-box;
  line-height: 0;
}
#header > .cover .header-left {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  min-width: 1px;
  min-height: 1px;
}
.material-symbols-outlined {
  font-size: 45px !important;
  top: 2px;
  position: absolute;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.menu_click {
  margin-left: 30px;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1000;
}
.menu_click ion-icon {
  position: absolute;
}
.hydrated {
  visibility: inherit;
}
.close-icon {
  transform: translateY(10px);
  opacity: 0;
}
.menu_click.clicked .menu-icon {
  transform: translateY(-10px);
  opacity: 0;
}

.menu_click.clicked .close-icon {
  transform: translateY(0px);
  opacity: 1;
}
.menu_wrap {
  position: relative;
}
.menu_wrap.show .menu_in {
  display: inline-block;
}
.menu_wrap .menu_in {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -25px;
  z-index: 999;
  padding: 25px;
  line-height: normal;
  letter-spacing: normal;
}
.menu_wrap::after {
  content: "";
  opacity: 0;
  visibility: hidden;
  height: 1000vh;
  transform-origin: 50% 50%;
  transition: opacity 0.5s;
  width: 1000vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: -10;
}
.menu_wrap.show::after {
  z-index: 998;
  visibility:visible;
  opacity: 1;
}
.menu_wrap .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cate_sec {
  width: 120px;
}
.nav-link {
  padding: 10px 0;
  display: block;
}
.nav-link2 {
  margin: 0 20px;
}
.nav-p span {
  transition: all 0.1s ease-in-out;
  display: block;
}
.nav-p {
  position: relative;
  line-height: 1.5;
  text-align: center;
  overflow: hidden;
}
.nav-p span.ko-nav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  margin-top: 2px;
}
.shop {
  margin: 200px auto 210px;
}
.category_bnt {
  position: relative;
  padding: 0 0 15px;
}
.category_list {
  position: absolute;
  width: 600px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: 0.5s;
  border: 2px solid #ddd;
  /* background: rgba(100%, 100%, 100%, 0.1); */
  visibility: hidden;
  opacity: 0;
  padding: 20px 0;
}
.category_list a {
  font-size: 14px;
}
.category_bnt:hover .category_list {
  visibility: visible;
  opacity: 1;
}
.category_list ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.comperny {
  display: flex;
  justify-content: center;
}
.m-group {
  display: none !important;
}
#header > .cover .header-center {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  text-shadow: 1px 3px 8px #222;
}
#header > .cover .header-right {
  display: inline-block;
  width: 30%;
  text-align: right;
}
.header-right ul {
  margin-right: 20px;
}
#header > .cover .group {
  display: inline-block;
  width: 70px;
}
.sch-bnt {
  color: #fff;
  cursor: pointer;
}
/*  */
.search_menu, .m-search_menu{
  opacity: 0; 
  visibility: hidden;
  z-index: 110; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 23px;
  line-height: 35px;
  font-weight: 200;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  text-transform: capitalize;
  transition: .3s all ease;
  color: #111;
}
.search-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  opacity: 0.6;
  z-index: -1;
}
.menu-search,.m-menu-search {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 700px;
  min-width: 320px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  transform: translate(-50%,-50%);
  display: block;
  z-index: 200;
}
:focus {
  outline: none;
}
.search-menu-open,
.m-search-menu-open{
  opacity: 1;
  visibility: visible;
}
.menu-search fieldset,
.m-menu-search fieldset{
  position: relative;
  margin: 0;
  padding: 20px 30px;
  border: none;
  border-bottom: 2px solid #fff;
  text-align: right;
}
input[type=text], input[type=password], input[type=tel], input[type=number], select, textarea {
  width: 100%;
  height: 30px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 5px !important;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #111;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  text-transform: none !important;
}
.menu-search #keyword,
.m-menu-search #keyword {
  width: 100%;
  height: 55px;
  margin: 0 !important;
  padding: 0;
  border: 0;
  line-height: 70px;
  font-size: 50px;
  color: #fff;
  text-align: left;
}
.menu-search input[type="image"],.m-menu-search input[type="image"] {
  position: absolute;
  bottom: 25px;
  right: 30px;
  height: 45px;
}
@media (max-width: 1024px) {
  .header-center {
    font-size: 60px !important;
  }
  .header-right {display: none !important;}
  .m-group {display: block !important;}
  .material-symbols-outlined {
    font-size: 35px !important;
  }
}
@media (max-width: 780px) {
  .header-center {
    font-size: 50px !important;
  }
  .category_list {
    width: 400px !important;
  }
}
@media (max-width: 480px) {
  .header-left {
    width: 20% !important;
  }
  .menu_click {
    margin-left: 15px;
  }
  .header-center {
    width:60% !important;
  }
  .menu_in {
    top: -100px;
  }
  .category_list {
    width: 270px !important;
  }
  .shop {
    margin: 150px auto 250px;
  }
  .pd {
    width: 250px !important;
    height: 350px !important;
  }
}

.foot {
  display: flex;
  justify-content: space-between;
}
.foot ul li,
.foot ul li a {
  color: #393939;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.top_btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 999;
  cursor: pointer;
}
.top_btn img {
  max-width: 40%;
}
@media (max-width: 780px) {
  .foot {
    flex-direction: column;
  }
  .foot ul li,
  .foot ul li a {
    align-items: flex-start;
  }
  .foot ul:last-child {
    margin-top: 20px;
  }
}